body {
	background: linear-gradient(180deg, rgba(85,83,85,0.6) 5%, rgba(213,39,62,0.2) 50%, rgba(85,83,85,0.4) 90%),url('../img/mizuki.jpg');
  background-size: 105%;
	background-attachment: fixed;
	animation: gradient 10s ease infinite;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
a {
      text-decoration:none;
   }

html {scroll-behavior: smooth;}
.bottom-align-text {
	position: absolute;
	bottom: 0;
	right: 0;
}
